<html>
<head>
	<title>Hello!</title>
</head>
<body>
<h1> You have received a report from <%= @current_user.email %></h1>
<p> His/her report is <%= @report_body %></p>
<p> The url is <%= @url %></p>
</body>
</html>