/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self


 */
#create_nav{
	margin-left: 50px;
}

.sarrow{
	width: 60px;
	height: 60px;
}

.top_bar{
	background-color: #fff;
    border-bottom: 1px solid #ecf0f1;
    }

.center_form{
	margin-left: 400px;
}

 #mainlogo {
 	width: 300px;
 	height: 120px;
 }

.loginpage {
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	width: 20em;
}

.facebooklogin {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 14em;
}

.fbbutton {
	width: 200px;
	height: 40px;
}

.circular-image {
  border-radius:  50%;
  margin-top: 5px;
}

div.photo {
  position:absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:265px;
  height:315px;
  border:1px solid #a6a9aa;
  border-radius: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 1px 7px 0px #cfcfcf;
}
div.photo-name{
  z-index: 10;
  position: absolute;
  width: inherit;
  height: auto;
  bottom: 0;
  background-color: rgba(255,255,255,0.5);
}
/* ==========================================================================
   BODY / NAV BAR / SIDE BAR
   ========================================================================== */


html { 
	background-color: #d0d2d3
  
}

body {
  margin: 0;
  padding: 0; 
  font-family: sans-serif;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

}

form {
  background: #fff;
  border: 1px solid #9e9e9e;
  border-radius: 0.25em;
  width: 20em;
  padding: 1em 1em 2em;
  margin: 2em auto;
}

form h1 {
  font-weight: 300;
  font-size: 2em;
  padding: 0 0.3em;
  color: #999;
}

label {
  display: block;
  font-weight: 400;
  font-size: 1em;
  line-height: 0.8;
  margin: 0.6em 0.6em -0.5em 0.6em;
  color: #606060;
}

input {
  font-size: 1em;
  border: 1px solid #9e9e9e;
  border-radius: 0.25em;
  padding: 0.64em;
  margin: 0.4em 0.4em;
}

input[type="submit"] {
  font-weight: 300;
  font-size: 1.2em;
  border: 1px solid #00A388;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-top: 0.75em;
  color: #fff;
  background: #79BD8F;
  transition: background 500ms ease-out;
}

input[type="submit"]:hover {
  background: #00A388;
}

input:focus {
  outline-color: #BEEB9F;
}

.hamb{
  margin-top: 5px;
  width: 28px;
  height: 5px;
  background: black;
  margin-bottom: 3px;
  
}
#navbar{
  height: 65px;
  width: 100%;
  position: absolute;
  z-index:9999;
  background: white;
  border-bottom: 1px solid #ecf0f1;
}

#navbar a {
	margin-top: 5px;
	margin-left: 70px;
}

#placero {
	margin-top: 25px;
	width: 80px;
	height: 40px;
}

#heart {
	margin-left: 10px;
	width: 40px;
	height: 40px;
}

#create {
	margin-right: 10px;
	margin-top: 25px;
	width: 42px;
	height: 42px;
}

#filter {
	margin-top: 18px;
	width: 40px;
	height: 40px;
}

#switch {
	width: 30px;
	height: auto;
}

#view {
	width: 30px;
	height: auto;
}

#contact {
	width: 30px;
	height: auto;
}


.page-content {
  width: 75%;
  
  
  z-index: 0;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  background: #eeeeee; 
}

.toggle {
  text-decoration: none;
  font-size: 30px;
  color: black;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  position: fixed;
  top: 10px;
  left: 20px;
  z-index: 1;
  cursor: pointer; 
  transition: .8s;
}

.sidebar {
  position: fixed;
  top: 45px;
  bottom: 0px;
  left: -300px;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  width: 200px;
  padding: 30px;
  background: #ffffff;
  z-index: 0; 
  transition: .7s;
}
  
.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0; }

.sidebar li {
    color: black; 
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    margin: 0;
    margin-bottom: 25px;
    -webkit-font-smoothing: antialiased;
    cursor: pointer; }
   
.sidebar li:hover {
   color: black; }

#sidebartoggler {
  display: none; 
}
  #sidebartoggler:checked + .page-wrap .sidebar {
    left: 0px; 
    transition: .6s;
  }
  #sidebartoggler:checked + .page-wrap {
    left: 200px; 
    transition: .6s;
  }
  #sidebartoggler:checked + .page-wrap .page-content {
    opacity: .8;
   
  }

.float_right {
  padding-top: 100px;
	float: right;
  margin-right: 700px;
	display:inline-block;
    

}

.float_left {
	float:left;
}


.float_right_nav {
	float: right;
}

.float_left_nav {
	float:left;
}

.float_right_form {
	float: right;
	margin-right: 500px;
	margin-top: 50px;
}

.float_left_form {
	float:left;
	margin-left: 10px;
	margin-top: 50px;
}





/* ==========================================================================
   Slider Range Bar
   ========================================================================== */


.container {
  display: flex;
  width: 500px;
  height: 500px;
  margin: left;
  text-align: center;
}

.slider {
  width: 50%;
  margin: 50% auto;
}

input[type="range"] {
  -webkit-appearance: none !important;
  width: 100%;
  height: 15px;
  background-color: #A3CD99;
  border: 1px solid #97c68b;
  border-radius: 10px;
  margin: auto;
  transition: all 0.3s ease;
}
input[type="range"]:hover {
  background-color: #b2d5aa;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 20px;
  height: 20px;
  background-color: #579E81;
  border-radius: 30px;
  box-shadow: 0px 0px 3px #3c6d59;
  transition: all 0.5s ease;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #457d66;
}
input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: 0px 0px 1px #3c6d59;
}

#rangevalue {
  text-align: center;
  font-family: "Quantico", sans-serif;
  font-size: 18px;
  display: block;
  margin: auto;
  padding: 10px 0px;
  width: 100%;
  color: #579E81;
}






/* ==========================================================================
   Small devices (IPHONE, 320px and max 667px)
   ========================================================================== */

@media (min-width: 320px) and (max-width: 667px)  {




}
#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #000;
  display: none;
}

#boxes .window {
  position: absolute;
  left: 0;
  top: 0;
  width: 440px;
  height: 200px;
  display: none;
  z-index: 9999;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

#boxes #dialog {
  width: 750px;
  height: 300px;
  padding: 10px;
  background-color: pink;
  background-image: linear-gradient(red, orange, yellow, green, blue, indigo, violet);
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 15pt;
}

#popupfoot {
  font-size: 16pt;
  position: absolute;
  bottom: 0px;
  width: 250px;
  left: 250px;
}
